<div class="paddingTop">
<table>
  <td class="titleRow">Produktname</td>
  <td class="titleRow">Käufer</td>
  <td class="titleRow">Preis in CHF</td>
  <td class="titleRow">Kaufdatum</td>
  <tr *ngFor="let product of products">
    <td>{{product.productName}}</td>
    <td>{{product.userName}}</td>
    <td>{{product.price}}</td>
    <td>{{product.purchaseDate}}</td>
    <button class="deleteProductButton"(click)="deleteService(product.id)">Löschen</button>
    <button class="changeProductButton"(click)="setPickedProduct(product.id)">Bearbeiten</button>
  </tr>
</table>
</div>

<div *ngIf="pickedProduct">
  <table>
    <tr>
      <input type="text" value="{{pickedProduct.productName}}" (keyup)="onProductNameKeyUp($event)">
      <input type="text" value="{{pickedProduct.userName}}" (keyup)="onUserNameKeyUp($event)">
      <input type="number" value="{{pickedProduct.price}}" (keyup)="onPriceKeyUp($event)">
      <input type="date" value="{{pickedProduct.purchaseDate}}" (keyup)="onPurchaseDateKeyUp($event)">
      <br>
      <button (click)="getProducts()"> Zurück </button>
      <button (click)="updateProduct(pickedProduct.id)"> Einkauf ändern </button>
    </tr>
  </table>
</div>

<table class="paddingTop" *ngIf="newInputMode">
<p *ngIf="getSumOfPurchases(products) != 0">Kosten Einkäufe total: {{getSumOfPurchases(products)}} CHF!</p>
</table>

<div class="paddingTop">
<table *ngIf="newInputMode">
  <tr>
    <input type="text" placeholder="Produkt-Name" (keyup)="onProductNameKeyUp($event)">
    <input type="text" placeholder="User-Name" (keyup)="onUserNameKeyUp($event)">
    <input type="text" placeholder="Preis" (keyup)="onPriceKeyUp($event)">
    <input type="date" placeholder="Kaufdatum" (keyup)="onPurchaseDateKeyUp($event)">
    <button class="newProductButton" (click)="postProduct()"> Neues Produkt! </button>
  </tr>
  </table>
</div>
