<table>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.productName}}</td>
    <td>{{product.userName}}</td>
    <td>{{product.price}}</td>
    <td>{{product.purchaseDate}}</td>
</table>

<table>
  <tr>
    <input type="text" placeholder="User-Name" (keyup)="onUserNameKeyUp($event)">
    <input type="text" placeholder="Produkt-Name" (keyup)="onProductNameKeyUp($event)">
    <input type="text" placeholder="Preis" (keyup)="onPriceKeyUp($event)">
    <input type="date" placeholder="Kaufdatum" (keyup)="onPurchaseDateKeyUp($event)">
    <button (click)="postProduct()"> Post something </button>
  </tr>
</table>
